apiVersion: apps/v1
kind: Deployment
metadata:
  name: servicetest
  labels:
    app: servicetest
spec:
  replicas: 1
  selector:
    matchLabels:
      app: servicetest
  template:
    metadata:
      labels:
        app: servicetest
    spec:
      containers:
        - name: nginx
          image: nginx:1.25.3
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
